/* CSS Styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e0e0e0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.main-title {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 3px 3px 6px #a4a4a4,
        inset -3px -3px 6px #ffffff;
    padding: 10px;
    color: #767676;
    font-weight: 1000;
}

.top-bar{
    display: flex;
    align-items:center ;
}

.line {
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow: inset 1px 1px 2px #a4a4a4,
        inset -1px -1px 2px #ffffff;
    margin: 20px;
    padding: 3px;
    width: 95vw;
}

.dot {
    border-radius: 50%;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 6px #c5c5c5,
        inset -5px -5px 6px #fbfbfb;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    border-radius: 13px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 7px #9f9f9f,
        inset -5px -5px 7px #ffffff;
    max-width: 400px;
    width: 400px;
    height: 400px;
    margin: 20px;
}